<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'language_selector_label' | translate }}</mat-label>
    <mat-select
      [(ngModel)]="selectedLanguage"
      (ngModelChange)="changeLanguage($event)"
    >
      <mat-option
        *ngFor="let language of languagesList"
        [value]="language.code"
      >
        {{ language.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'datepicker_label' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
